MONGODB_URI="mongodb+srv://username:password@cluster.mongodb.net/"
DB_NAME = database_name


JWT_SECRET = replace_with_a_random_secret
# Use http://localhost:3000 for local development.
# Use https://hayasaka.8man.in in the production deployment.
NEXTAUTH_URL= http://localhost:3000


GOOGLE_CLIENT_ID = Google OAuth client id
GOOGLE_CLIENT_SECRET = Google OAuth client secret

# Google Cloud Console > Credentials > OAuth client > Authorized redirect URI:
# http://localhost:3000/api/auth/callback/google
# https://hayasaka.8man.in/api/auth/callback/google


MAIL_HOST = smtp.gmail.com
MAIL_USER = mail user
MAIL_PASS = mail password

NEXT_PUBLIC_SAAVN_API = "https://saavn.dev"